.auth-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
}

.auth-container {
    background-color: rgb(155, 160, 239);
    width: 100%;
    max-width: 400px;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.auth-card {
    background-color: var(--bg-primary);
    border-radius: 0.5rem;
    box-shadow: var(--card-shadow);
    padding: 2rem;
}

.auth-header {
    text-align: center;
    margin-bottom: 2rem;
}

.auth-header h2 {
    color: var(--text-primary);
    margin-bottom: 0.5rem;
}

.auth-header p {
    color: var(--text-secondary);
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    color: var(--text-secondary);
    font-size: 0.875rem;
}

.form-group input {
    padding: 0.75rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.form-group input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-secondary);
    font-size: 0.875rem;
}

.forgot-password {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 0.875rem;
}

.btn-primary {
    background-color: var(--accent-color);
    color: white;
    border: none;
    border: solid 1px black;
    padding: 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: black;
}

.auth-footer {
    text-align: center;
    margin-top: 2rem;
    color: var(--text-secondary);
    font-size: 0.875rem;
}

.auth-footer a {
    color: var(--accent-color);
    text-decoration: none;
}